{#
/**
 * @file
 * Template to display a stripe legend for a calendar view.
 *
 * Available variables:
 * - title: The title for the legend.
 * - legend: The legend table.
 *
 * @see template_preprocess_calendar_stripe_legend()
 *
 * @ingroup themeable
 */
#}
<div class="calendar legend">
  <h3>{{ title }}</h3>
  {{ legend }}
</div>
